.ct-widget.ct-ignition {
    top: 42px;
}
.ContentEditor {
    padding: 16px 16px 16px 144px;
    background: #234;
    color: white;
}
.ContentEditor_Meta {
    display: block;
    box-sizing: border-box;
    background: #345;
    color: white;
    width: 100%;
    margin: 0;
    padding: 1em;
    font: 16px/1.2 "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
    border-color: #456;
}
.ContentEditor::before,
.ContentEditor::after {
    content: "---";
    font-family: monospace;
    color: #789;
}

[data-editable] .text-left {
    text-align: left;
}
[data-editable] .text-right {
    text-align: right;
}
[data-editable] .text-center {
    text-align: center;
}
[data-editable] img.text-left,
.ce-element--type-image.text-left {
    float: left;
}
[data-editable] img.text-right,
.ce-element--type-image.text-right {
    float: right;
}
[data-editable] img.text-center,
.ce-element--type-image.text-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ce-element--type-image {
    display: inline-block;
}